.keystroke {
    border : 1px outset;
    display : inline-block;
    width : 110px;
    height : 40px;
    text-align : center;
    margin : 1px;
}

.status-item {
    display : inline-block;
    border : 1px outset blue;
    padding : 20px;
    margin : 1px;
    text-align : center;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.macro_div {
    border: 1px outset grey;
    margin: 1px;
}

.macro_label {
    width: 80px;
    text-align: left;
    display: inline-block;
    vertical-align: top;
}

.macro_button {
    vertical-align: top;
}

.macro_content {
    height: 100px;
    max-width: 100%;
    margin: 1px;
}
